@import './../styles/variables.scss';

.sports{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    background: white;
    

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(236, 150, 139);
        box-shadow: $boxShadow;
        z-index: 100;

        h1{
            line-height: 30px;
            color: white;
            text-shadow: 2px 2px green;
        }
    }

    &__content{
        //margin-left: 1rem;
        width: 100%;
        height: 100%;
        //background: rgb(255,143,86);
        background: linear-gradient(79deg, rgb(250, 183, 175) 0%, rgba(240,240,240,1) 50%);
        ul{
            width: 100%;
            height: 100%;
            min-width: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            list-style: none;
            flex-grow: 1;
            //gap: 20px;
            overflow: auto;

    
            li{
                padding: 0 1rem 0 1rem;
                min-width: 300px;
                width: 300px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}