@import './../styles/variables.scss';

.newsCard{
    width: 100%;
    max-height: 60%;
    height: 60%;
    background: whitesmoke;
    border-radius: $borderRadius;
    transition: $hoverTime ease all;
    overflow: hidden;
    box-shadow: $boxShadow;

    @include breakpoint(md){
        max-height: 100%;
        height: 100%;
    }
   

    &:hover{
       box-shadow: $boxShadow;
    }

    &:hover &__img img{
        transform: scale(1.3,1.3);
    }

    &:hover  &__title{
        transform:translateY(-60%);
    }

    &:hover &__title__content{
        padding-top: 1rem;
    }

    &__img{
        width: 100%;
        height: 70%;

        img{
            width: 100%;
            height: 100%;
            transition: $hoverTime ease all;
        }
    }

    &__title{
        padding: 0 1rem 1rem 1rem;
        background: whitesmoke;
        transition: $hoverTime ease all;

        &__date{
            //padding-top: 5px;
            min-height: 125px;
            max-height: 125px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            h4{
                line-height: auto;
                //white-space: pre-line;
                overflow: scroll;
            }
            
        }

        &__content{
            padding-top: 2rem;
            transition: $hoverTime ease all;
            //overflow: hidden;
            
            p{
                height: 170px;
                overflow-x: auto;
                overflow-y: auto;
            }
        }
    }
}